<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!-- Configurer that replaces ${...} placeholders with values from properties 
		files -->

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
        <property name="dataSource" ref="dataSource" />
    </bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="lottery" />
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		<!-- <property name="jpaDialect"> <bean class="com.mpos.lottery.te.common.dao.TimeoutAwareHibernateJpaDialect" 
			/> </property> -->
	</bean>

	<bean id="parentDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="minPoolSize" value="2" />
		<property name="maxPoolSize" value="4" />
		<property name="initialPoolSize" value="2" />
		<property name="maxStatements" value="0" />
		<property name="maxStatementsPerConnection" value="0" />
		<property name="checkoutTimeout" value="60000" />
		<property name="numHelperThreads" value="2" />
		<property name="debugUnreturnedConnectionStackTraces" value="true" />
		<property name="unreturnedConnectionTimeout" value="3600" />
		<property name="maxIdleTime" value="3600" />
		<property name="idleConnectionTestPeriod" value="300" />
	</bean>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		parent="parentDataSource" destroy-method="close">
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
		<property name="preferredTestQuery" value="select sysdate from DUAL" />
	</bean>

	<!-- ==================================================== -->
	<!-- DAO BEANS DEFINITION -->
	<!-- ==================================================== -->

	<bean id="merchantDao" class=" com.ramonli.lottery.merchant.dao.JpaMerchantDao">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

</beans>

